<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SkinAid</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1><span style="color:#d94f6d;">SkinAid</span></h1>
        <h3>Upload an image of a skin lesion to get a prediction</h3>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload & Predict</button>
        </form>

        {% if prediction %}
            <div class="result-box">
                <h3> Prediction: <strong>{{ prediction }}</strong></h3>
                <p> Confidence: {{ confidence }}%</p>
                <img src="{{ uploaded_image }}" alt="Uploaded Image">

            </div>


            
            <div style="text-align:center; margin-top: 30px;">
                <a href="{{ url_for('learn') }}">
                    <button class="learn-btn"> Learn More</button>
                </a>
            </div>
        {% endif %}
    </div>
</body>
</html>

